apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argocd
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-4" #only put something before this if argo depends on crds from provider
spec:
  project: default
  sources:
  
  - repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 7.7.12
    chart: argo-cd
    helm:
      releaseName: argocd
      valueFiles:
        - $values/apps/argocd/values.yaml

  - repoURL: https://github.com/DocFitz/testAKS.git
    targetRevision: main
    ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false